node_modules

data_input/*
!data_input/.gitkeep

data_output/*
!data_output/.gitkeep

languages/*
!languages/.gitkeep

map_data_input/*
!map_data_input/.gitkeep

map_data_mapped/*
!map_data_mapped/.gitkeep

map_elements/*
!map_elements/.gitkeep

map_renders/*
!map_renders/.gitkeep